In [1]:
# imports
import pandas as pd
import functions as func
import orga_functions as org

In [2]:
# read in the dataframe
path = org.path("00_AirQuality_original.csv")
df = pd.read_csv(path, sep=';')

# Cleaning der Daten

In [3]:
# Remove columns that only contains NaN/None/Null-values
df.dropna(axis = "columns", how = "all", inplace = True)

In [4]:
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,10/03/2004,19.00.00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,10/03/2004,20.00.00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,10/03/2004,21.00.00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,10/03/2004,22.00.00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,06/02/2005,19.00.00,1.6,985,-200,4.5,736,227,891,165,875,774,6.0,38.0,0.3584
7994,06/02/2005,20.00.00,1.8,1002,-200,5.3,780,252,855,179,892,857,5.8,36.4,0.3385
7995,06/02/2005,21.00.00,1.4,938,-200,3.7,692,193,937,149,805,737,5.8,35.4,0.3286
7996,06/02/2005,22.00.00,1.1,896,-200,2.6,627,158,1033,126,782,610,5.4,36.6,0.3304
7997,06/02/2005,23.00.00,1.0,907,-200,2.4,614,150,1052,120,782,627,5.1,37.9,0.3358

## Korrektur des Datums

In [5]:
df = func.df_correct_datetime(df)

In [6]:
df

,Date,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,2004-03-10 19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,2004-03-10 20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,2004-03-10 21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,2004-03-10 22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,2005-02-06 19:00:00,1.6,985,-200,4.5,736,227,891,165,875,774,6.0,38.0,0.3584
7994,2005-02-06 20:00:00,1.8,1002,-200,5.3,780,252,855,179,892,857,5.8,36.4,0.3385
7995,2005-02-06 21:00:00,1.4,938,-200,3.7,692,193,937,149,805,737,5.8,35.4,0.3286
7996,2005-02-06 22:00:00,1.1,896,-200,2.6,627,158,1033,126,782,610,5.4,36.6,0.3304
7997,2005-02-06 23:00:00,1.0,907,-200,2.4,614,150,1052,120,782,627,5.1,37.9,0.3358

In [7]:
df.dtypes

Date             datetime64[ns]
CO(GT)                  float64
PT08.S1(CO)               int64
NMHC(GT)                  int64
C6H6(GT)                float64
PT08.S2(NMHC)             int64
NOx(GT)                   int64
PT08.S3(NOx)              int64
NO2(GT)                   int64
PT08.S4(NO2)              int64
PT08.S5(O3)               int64
T                       float64
RH                      float64
AH                      float64
dtype: object

## Anpassung der Spaltennamen

In [8]:
df = func.df_change_columns(df)

In [9]:
df

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2004-03-10 18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,2004-03-10 19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,2004-03-10 20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,2004-03-10 21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,2004-03-10 22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,2005-02-06 19:00:00,1.6,985,-200,4.5,736,227,891,165,875,774,6.0,38.0,0.3584
7994,2005-02-06 20:00:00,1.8,1002,-200,5.3,780,252,855,179,892,857,5.8,36.4,0.3385
7995,2005-02-06 21:00:00,1.4,938,-200,3.7,692,193,937,149,805,737,5.8,35.4,0.3286
7996,2005-02-06 22:00:00,1.1,896,-200,2.6,627,158,1033,126,782,610,5.4,36.6,0.3304
7997,2005-02-06 23:00:00,1.0,907,-200,2.4,614,150,1052,120,782,627,5.1,37.9,0.3358

## Filtern und auschlieÃŸen unplausibler Werte

In [10]:
# read in Featurelist 
path = org.path("00_RawFeatureList.csv")
fl_df = pd.read_csv(path, sep= ';', index_col= 'names', decimal= '.')
fl_df

,mean,min,25%,50%,75%,max,erlÃ¤uterung
names,,,,,,,
co_gt,2.168604,0.1000,1.1000,1.8000,2.9000,11.900,Stuendlich gemittelte CO-Konzentration
pt08_s1_co,1098.303412,647.0000,932.0000,1061.0000,1234.0000,2040.000,Stuendlich gemittelte Sensorreaktion (nominell...
nmhc_gt,218.607666,7.0000,66.0000,145.0000,297.0000,1189.000,Stuendlich gemittelte Gesamtkonzentration an n...
c6h6_gt,10.458205,0.1000,4.7000,8.6000,14.4000,63.700,Stuendlich gemittelte Benzolkonzentration
pt08_s2_nmhc,953.579453,383.0000,749.0000,925.0000,1130.0000,2214.000,Stuendlich gemittelte Sensorreaktion (nominell...
nox_gt,232.360072,2.0000,89.0000,164.0000,303.7500,1479.000,Echte Stuendlich gemittelte NOx-Konzentration
pt08_s3_nox,848.762615,322.0000,672.0000,818.0000,984.0000,2683.000,Suendlich gemitteltes Sensoransprechverhalten ...
no2_gt,106.251831,2.0000,73.0000,103.0000,132.0000,333.000,Stuendlich gemittelte NO2-Konzentration
pt08_s4_no2,1507.352834,657.0000,1305.0000,1508.0000,1707.0000,2775.000,Stuendlich gemittelte Sensorreaktion (nominell...
pt08_s5_o3,1024.200026,253.0000,737.0000,962.0000,1272.0000,2523.000,Stuendlich gemitteltes Sensoransprechverhalten...
t,19.476041,0.3000,13.1000,19.3000,25.4000,44.600,Temperatur
rh,48.969244,9.2000,35.5000,49.4000,62.1000,88.700,Relative Luftfeuchtigkeit
ah,1.082099,0.1988,0.8167,1.0468,1.3713,2.231,Absolute Luftfeuchtigkeit
month,6.928525,1.0000,4.0000,7.0000,10.0000,12.000,Monate der Erfassung
hour,11.488520,0.0000,6.0000,11.0000,17.0000,23.000,Stunden der erfassung

In [11]:
df = func.filter_plausible(df, fl_df)

In [12]:
df

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2004-03-10 18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2004-03-10 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2004-03-10 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2004-03-10 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,2004-03-10 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,2005-02-06 19:00:00,1.6,985.0,NaN,4.5,736.0,227.0,891.0,165.0,875.0,774.0,6.0,38.0,0.3584
7994,2005-02-06 20:00:00,1.8,1002.0,NaN,5.3,780.0,252.0,855.0,179.0,892.0,857.0,5.8,36.4,0.3385
7995,2005-02-06 21:00:00,1.4,938.0,NaN,3.7,692.0,193.0,937.0,149.0,805.0,737.0,5.8,35.4,0.3286
7996,2005-02-06 22:00:00,1.1,896.0,NaN,2.6,627.0,158.0,1033.0,126.0,782.0,610.0,5.4,36.6,0.3304
7997,2005-02-06 23:00:00,1.0,907.0,NaN,2.4,614.0,150.0,1052.0,120.0,782.0,627.0,5.1,37.9,0.3358

# Features skalieren auf [0,1]

In [13]:
# import of sklearn
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import MinMaxScaler

In [14]:
# Cutting out 'date' column
date = df.date
df.drop(columns=['date'], inplace=True)

In [15]:
# scaling features to range [0,1]
mapper = DataFrameMapper([(df.columns, MinMaxScaler())])
scaled_features = mapper.fit_transform(df.copy(), 4)
scaled_features_df = pd.DataFrame(scaled_features, index=df.index, columns=df.columns)

scaled_features_df

,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,0.211864,0.511845,0.120981,0.185535,0.362097,0.111036,0.310885,0.335347,0.488669,0.447137,0.300226,0.499371,0.275071
1,0.161017,0.463029,0.088832,0.146226,0.312398,0.068382,0.360864,0.271903,0.425873,0.316740,0.293454,0.484277,0.259177
2,0.177966,0.541996,0.068528,0.139937,0.303659,0.087339,0.346463,0.338369,0.423985,0.361674,0.261851,0.563522,0.271332
3,0.177966,0.523331,0.061760,0.143082,0.308575,0.115098,0.326133,0.362538,0.437677,0.418502,0.241535,0.638994,0.289292
4,0.127119,0.448672,0.037225,0.100629,0.247406,0.087339,0.373994,0.344411,0.393296,0.377533,0.246050,0.633962,0.290326
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,0.127119,0.242642,NaN,0.069182,0.192791,0.152336,0.241000,0.492447,0.102927,0.229515,0.128668,0.362264,0.078536
7994,0.144068,0.254846,NaN,0.081761,0.216821,0.169262,0.225752,0.534743,0.110954,0.266079,0.124153,0.342138,0.068743
7995,0.110169,0.208902,NaN,0.056604,0.168760,0.129316,0.260483,0.444109,0.069877,0.213216,0.124153,0.329560,0.063872
7996,0.084746,0.178751,NaN,0.039308,0.133261,0.105619,0.301144,0.374622,0.059018,0.157269,0.115124,0.344654,0.064757
7997,0.076271,0.186648,NaN,0.036164,0.126161,0.100203,0.309191,0.356495,0.059018,0.164758,0.108352,0.361006,0.067415

In [16]:
# check if scaling was applied correct [y = (x - min()) / (max() - min())]
(df.co_gt.iloc[0] - df.co_gt.min()) / (df.co_gt.max() - df.co_gt.min())

0.211864406779661

In [17]:
# concat 'date' column to df 
df = pd.concat([date,scaled_features_df], axis=1)
df

,date,co_gt,pt08_s1_co,nmhc_gt,c6h6_gt,pt08_s2_nmhc,nox_gt,pt08_s3_nox,no2_gt,pt08_s4_no2,pt08_s5_o3,t,rh,ah
0,2004-03-10 18:00:00,0.211864,0.511845,0.120981,0.185535,0.362097,0.111036,0.310885,0.335347,0.488669,0.447137,0.300226,0.499371,0.275071
1,2004-03-10 19:00:00,0.161017,0.463029,0.088832,0.146226,0.312398,0.068382,0.360864,0.271903,0.425873,0.316740,0.293454,0.484277,0.259177
2,2004-03-10 20:00:00,0.177966,0.541996,0.068528,0.139937,0.303659,0.087339,0.346463,0.338369,0.423985,0.361674,0.261851,0.563522,0.271332
3,2004-03-10 21:00:00,0.177966,0.523331,0.061760,0.143082,0.308575,0.115098,0.326133,0.362538,0.437677,0.418502,0.241535,0.638994,0.289292
4,2004-03-10 22:00:00,0.127119,0.448672,0.037225,0.100629,0.247406,0.087339,0.373994,0.344411,0.393296,0.377533,0.246050,0.633962,0.290326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,2005-02-06 19:00:00,0.127119,0.242642,NaN,0.069182,0.192791,0.152336,0.241000,0.492447,0.102927,0.229515,0.128668,0.362264,0.078536
7994,2005-02-06 20:00:00,0.144068,0.254846,NaN,0.081761,0.216821,0.169262,0.225752,0.534743,0.110954,0.266079,0.124153,0.342138,0.068743
7995,2005-02-06 21:00:00,0.110169,0.208902,NaN,0.056604,0.168760,0.129316,0.260483,0.444109,0.069877,0.213216,0.124153,0.329560,0.063872
7996,2005-02-06 22:00:00,0.084746,0.178751,NaN,0.039308,0.133261,0.105619,0.301144,0.374622,0.059018,0.157269,0.115124,0.344654,0.064757
7997,2005-02-06 23:00:00,0.076271,0.186648,NaN,0.036164,0.126161,0.100203,0.309191,0.356495,0.059018,0.164758,0.108352,0.361006,0.067415

In [18]:
# save clean dataset locally
new_path ="../../data/csv/AirQuality/01_AirQuality_processed.csv"
df.to_csv(new_path, sep=';', index = False)