# Forecasting Test

### Imports

In [1]:
import pandas as pd
import pickle
import X3_Forecasting as forecast
import orga_functions as org

In [2]:
from sklearn.metrics import mean_absolute_error

In [3]:
x_test = pd.read_csv(org.path("00_x_test.csv"), sep=';')
y_test = pd.read_csv(org.path("00_y_test.csv"), sep=';')

In [4]:
x_test.head(10)

,date,pt08_s1_co,c6h6_gt,pt08_s2_nmhc,no2_gt,pt08_s4_no2,t,ah
0,2004-12-27 02:00:00,954.0,2.7,953.579453,92.000000,1107.0,11.6,0.9411
1,2004-12-27 03:00:00,875.0,1.5,953.579453,106.251831,1049.0,11.5,0.9106
2,2004-12-27 04:00:00,877.0,1.3,953.579453,55.000000,1023.0,11.7,0.8888
3,2004-12-27 05:00:00,826.0,0.7,953.579453,46.000000,978.0,11.9,0.8527
4,2004-12-27 06:00:00,862.0,1.4,953.579453,67.000000,1020.0,12.5,0.8269
5,2004-12-27 07:00:00,938.0,3.0,953.579453,95.000000,1100.0,12.3,0.8562
6,2004-12-27 08:00:00,1205.0,9.1,943.000000,133.000000,1361.0,11.5,0.9302
7,2004-12-27 09:00:00,1171.0,10.0,978.000000,138.000000,1374.0,12.5,0.9113
8,2004-12-27 10:00:00,1131.0,8.6,926.000000,127.000000,1324.0,12.9,0.9335
9,2004-12-27 11:00:00,1074.0,6.4,832.000000,119.000000,1230.0,13.5,0.9261

In [5]:
# import model
with open(org.path("LinearRegression_ah_regressor.pkl"), 'rb') as f:
    linr_clf = pickle.load(f)

In [6]:
# predict for x_test
pred_y = forecast.pred_array(x_test, linr_clf)

### Result

In [7]:
check = forecast.check_df(x_test,y_test, linr_clf)
check

                     future_ah  predicted_ah
future_datetime
2004-12-27 08:00:00     0.9302      0.929537
2004-12-27 09:00:00     0.9113      0.905056
2004-12-27 10:00:00     0.9335      0.886420
2004-12-27 11:00:00     0.9261      0.857971
2004-12-27 12:00:00     0.9379      0.838315
...                        ...           ...
2005-02-06 19:00:00     0.3584      0.407870
2005-02-06 20:00:00     0.3385      0.421599
2005-02-06 21:00:00     0.3286      0.431890
2005-02-06 22:00:00     0.3304      0.434415
2005-02-06 23:00:00     0.3358      0.426008

[1000 rows x 2 columns]

In [8]:
mean_absolute_error(y_test, pred_y)

0.061853152701865186